<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>PromptForDirectory</Title>
			<Shortcut></Shortcut>
			<Author>cwaddel</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="PowerShell">
				<![CDATA[$workingDir = Read-Host -Prompt 'Please input the full working path']]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>